:host {
  --js-width: 3rem;
  --js-aspect-ratio: 0.2;
  --js-height: calc(var(--js-width) * (1 / var(--js-aspect-ratio)));
  --js-bg-color: black;
  --js-color: white;
  --js-opacity-full: 0.7;
  --js-opacity-rest: 0.3;
  --js-attach-right: 1rem;
  --js-attach-bottom: 1rem;

  position: fixed;
  bottom: var(--js-attach-bottom);
  right: var(--js-attach-right);
  color: var(--js-color);
}

.container {
  display: block;
  transition: opacity 1s;
  opacity: var(--js-opacity-full);
  width: var(--js-width);
  height: auto;
  aspect-ratio: var(--js-aspect-ratio);
}
.container button {
  padding: 0; margin: 0; border: none;
  color: transparent;
}
.container.best {
  aspect-ratio: calc(var(--js-aspect-ratio) * 2);
}
.container.none {
  display: none;
}
.container.rest {
  opacity: var(--js-opacity-rest);
}
.container.mid {
  transform: none;
}
.container.best.mid.down .top,
.container.start .top {
  pointer-events: none;
  opacity: 0;
}
.container.best.mid.up .bot,
.container.end .bot {
  pointer-events: none;
  opacity: 0;
  transform: translateY(102%);
}
.container.best.mid.down .top,
.container.best.mid.up .top,
.container.best.end .top {
  transform: translateY(5%);
}
.container.end .top {
  transform: translateY(102%);
}

.top,
.bot {
  position: absolute;
  width: var(--js-width);
  height: auto;
  aspect-ratio: calc(var(--js-aspect-ratio) * 2);
  transition: opacity 1s, transform 1s;
  pointer-events: auto;
}
.top {
  top: 0;
}
.bot {
  bottom: 0;
}

.top .start,
.top .prev,
.bot .next,
.bot .end {
  content: '';
  position: absolute;
  left: 50%;
  width: 100%;
  background: var(--js-bg-color);
  -webkit-user-select: none;
  user-select: none;
}
.top .start,
.bot .end {
  height: calc(var(--js-height) / 6);
  clip-path: polygon(10% 0%, 90% 0%, 90% 30%, 65% 30%, 100% 100%, 0% 100%, 35% 30%, 10% 30%);
}
.top .prev,
.bot .next {
  height: calc(var(--js-height) / 4);
  clip-path: polygon(50% 0%, 100% 60%, 65% 60%, 100% 100%, 0% 100%, 35% 60%, 0% 60%);
}
.top .start,
.top .prev {
  transform: translateX(-50%);
}
.bot .next,
.bot .end {
  transform: translateX(-50%) rotateX(180deg);
}
.top .start {
  top: 0;
}
.top .prev {
  top: calc((var(--js-height) / 6) + 10%);
}
.bot .next {
  bottom: calc((var(--js-height) / 6) + 10%);
}
.bot .end {
  bottom: 0;
}