name: Deploy jump-scroll
on:
  push:
    branches: [ master ]

jobs:
  deploy-jump-scroll:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Find Commit Message # skip === deploy (not skip)
        id: skip-means-deploy
        uses: saulmaldonado/skip-workflow@v1.1.1
        with:
          phrase: 'jump-scroll@'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Echo Status
        shell: bash
        run: |
          if [ ${{ steps.skip-means-deploy.outputs.skip }} ]; then
            echo "DEPLOY JUMP-SCROLL"
          else
            echo "SKIP DEPLOY JUMP-SCROLL"
          fi

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@latest # ensure npm 11.5.1 or later
      - name: Install
        if: ${{ steps.skip-means-deploy.outputs.skip }}
        run: npm ci
      - name: Publish jump-scroll
        if: ${{ steps.skip-means-deploy.outputs.skip }}
        run: |
          npm run build
          cd src/jump-scroll
          npm publish --access public